.expandable-list {
  display: block;
}

.expandable-list .expandable-list-item {
  display: block;
  text-transform: capitalize;
  color: #000;
  background: #FFF;
}

.expandable-list [disabled].expandable-list-item {
  background: #eeeeee;
}

.expandable-list .expandable-list-item + .expandable-list-item .expandable-list-item-title.expanded {
  /*border-top: 1px solid #e0e0e0;*/
}
.expandable-list .expandable-list-item .expandable-list-item-content.expanded {
  border-bottom: 1px solid #e0e0e0;
}

.expandable-list .expandable-list-item .expandable-list-item-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  height: 52px;
  font-size: 16px;
  cursor: pointer;
}

.expandable-list [disabled].expandable-list-item .expandable-list-item-title {
  cursor: default;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item--title,
.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item--secondary {
  flex: 1;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item--secondary {
  margin-top: 3px;
  max-height: 18px;
  transition: max-height .2s cubic-bezier(0, 0, 0.2, 1),
              opacity .2s cubic-bezier(0, 0, 0.2, 1);
}
.expandable-list .expandable-list-item .expandable-list-item-title.expanded .expandable-list-item--secondary {
  opacity: 0;
  max-height: 0;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item--title {
  color: #000;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item--secondary,
.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown {
  color: #757575;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item-title__title {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown {
  flex: 1;
  text-align: end;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown svg {
  width: 18px;
  vertical-align: middle;
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown-chevron-line1,
.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown-chevron-line2 {
  stroke: #444;
  stroke-width: 12px;
  transform-origin: 50px 50px;
  transition: transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown-chevron-line1 {
  transform: rotateZ(45deg);
}
.expandable-list .expandable-list-item .expandable-list-item-title.expanded .expandable-list-item__dropdown-chevron-line1 {
  transform: rotateZ(-45deg);
}

.expandable-list .expandable-list-item .expandable-list-item-title .expandable-list-item__dropdown-chevron-line2 {
  transform: rotateZ(-45deg);
}
.expandable-list .expandable-list-item .expandable-list-item-title.expanded .expandable-list-item__dropdown-chevron-line2 {
  transform: rotateZ(45deg);
}

.expandable-list .expandable-list-item .expandable-list-item-content[hidden] {
  display: none;
}

.expandable-list .expandable-list-item .expandable-list-item-content {
  font-size: 16px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: max-height .2s cubic-bezier(0, 0, 0.2, 1),
              padding .2s cubic-bezier(0, 0, 0.2, 1),
              opacity .2s cubic-bezier(0, 0, 0.2, 1);
}

.expandable-list .expandable-list-item .expandable-list-item-content.expanded {
  padding: 16px 0;
  max-height: 500px;
  opacity: 1;
  pointer-events: auto;
  transition: max-height .3s cubic-bezier(0.4, 0, 0.2, 1),
              padding .3s cubic-bezier(0.4, 0, 0.2, 1),
              opacity .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.expandable-list .expandable-list-item .expandable-list-item-content > [item] {
  display: block;
  padding: 0 16px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
}

.expandable-list .expandable-list-item .expandable-list-item-content > [item]:hover {
  background: rgba(0,0,0,0.1);
}

.expandable-list .expandable-list-item .expandable-list-item-content .expandable-list-divider {
  display: block;
  margin: 12px 16px;
  border-top: 1px solid #e0e0e0;
}
